<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/djangoapp/about">About</a>
                    <a class="navbar-brand" href="/djangoapp/contact">Contact</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!--Add review form here -->
        <div class="container">
            <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="content" class="form-label"><strong>Enter the review content:</strong></label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="purchase" id="purchase">
                    <label for="purchase" class="form-label">Has purchased the car from Sub-Ex Car Dealership ? <small>(select purchased car information below if checked)</small></label>
                </div>
                <div class="mb-3">
                    <label for="car" class="form-label"><strong>Select your car (model-make-year)</strong></label>
                    <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.manufacturer.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="mb-3">
                    <label for="purchasedate" class="form-label"><strong>Select Your Purchase Date:</strong></label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    </script>

</html>