<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/djangoapp/about">About</a>
                    <a class="navbar-brand" href="/djangoapp/contact">Contact</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <section id="contact">
            <div class="container">
                <h3 class="text-center text-uppercase">contact us</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">call us</h4>
                            <p>+8801683615582,+8801750603409</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address>Suite 02, Level 12, Sahera Tropical Center </address>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">office loaction</h4>
                            <address>Suite 02, Level 12, Sahera Tropical Center </address>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">email</h4>
                            <p>http://cars-sealers@gmail.com</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
