<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/djangoapp/about">About</a>
                    <a class="navbar-brand" href="/djangoapp/contact">Contact</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add Review</a>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    <!-- Add reviews as cards -->
        <div class="card-columns">
             {% for detail in dealer_details %}
                <div class="card">
                    {% if detail.sentiment == 'positive' %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive">
                    {% endif %}
                    {% if detail.sentiment == 'neutral' %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral">
                    {% endif %}
                    {% if detail.sentiment == 'negative' %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{detail.car_make}}, {{detail.car_model}}</h5>
                        <h5 class="card-title">{{detail.car_year}}</h5>
                        <p class="card-text">{{detail.review}}</p>
                    </div>
                </div>
             {% endfor %}
        </div>


    </body>

</html>